*{
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	transition: all .1s;
}

body, html {
	height: 100%;
	background:linear-gradient(141deg, rgb(105, 247, 143) 0%, rgb(15, 212, 30) 51%, rgb(0, 134, 15) 75%);
}
.rc-center {
	min-height: 100vh;
}

h2.title {
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}
#desc {
	display: inline;
}

.box-shad {
	background-image: url('https://visage.surgeplay.com/head/250/5adc9c88c9b04c20b1abd20f24806321');
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;

	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.65);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.65);
    box-shadow: inset 0 0 2px rgba(0,0,0,.65);
}


.box-shad > div {
	font-size: 13px;
	font-weight: bold;
	opacity: 0;
	position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-shad:hover {
    -webkit-box-shadow: inset 0 0 84px rgba(0,0,0,.65);
    -moz-box-shadow: inset 0 0 84px rgba(0,0,0,.65);
    box-shadow: inset 0 0 84px rgba(0,0,0,.65);
}
.box-shad:hover > div {
	opacity: 1;
}